{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>

	{{ form_start(registrationForm, {attr: {novalidate: 'novalidate'}}) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.plainPassword) }}
	{{ form_row(registrationForm.agreeTerms) }}
	<button class="submit">Enregistrer</button>
	{{ form_end(registrationForm) }}
{% endblock %}
