{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  <h1>
    Inscription
  </h1>

   <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">
          Email
        </label>
        <input type="email" class="form-control" id="inputEmail4" />
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">
          Password
        </label>
        <input type="password" class="form-control" id="inputPassword4" />
      </div>
    </div>
    <div class="custom-file">
      <input type="file" class="custom-file-input" id="customFile" />
      <label class="custom-file-label" for="customFile">
         <a href="#">
                    <img width="30" height="30" src="{{ asset('image/Avatar/.jpg') }}" alt="avatar">choisissez votre avatar </a> 
      </label>
    </div>

    <div class="custom-control custom-checkbox my-1 mr-sm-2">
      <input type="checkbox"
        class="custom-control-input"
        id="customControlInline" />
      <label class="custom-control-label" for="customControlInline">
        Remember my avatar
      </label>
    </div>

    <div class="col-md-3 mb-3">
      <label for="validationTooltip04">
        State
      </label>
      <select class="custom-select" id="validationTooltip04" required>
        <option selected disabled value="">
          Choose...
        </option>
        <option>
          ...
        </option>
      </select>
      <div class="invalid-tooltip">
        Please select a valid state.
      </div>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input"
          type="checkbox"
          value=""
          id="invalidCheck"
          required />
        <label class="form-check-label" for="invalidCheck">
          Agree to terms and conditions
        </label>
        <div class="invalid-feedback">
          You must agree before submitting.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary my-1">
      Submit
    </button>

    <button type="submit" class="btn btn-primary">
      Sign in
    </button>
  </form>

 

 
<form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <input type="text" id="email-modal" name="_username" value="{{ last_username }}" class="form-control" required="required" placeholder="Nom d'utilisateur | Email">
                    </div>
                    <div class="form-group">

                        <input type="password" required="required" name="_password" class="form-control" id="password-modal" placeholder="Mot de passe">
                    </div>
                    <div class="form-group">
                        <label for="remember"> <p class="text-center text-muted"> Se souvient de moi </p> </label>
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>

                    <p class="text-center">

                        <button type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-primary" ><i class="fa fa-sign-in"></i>Se connecter </button>
                    </p>

                </form>

                <p class="text-center text-muted">Vous n'avez pas encore un compte?</p>
                <p class="text-center text-muted"><a href="register.html"><strong>S'inscrire</strong></a></p>






{% endblock %}
