{% extends 'base.html.twig' %}

{% block title %}Jeu index
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col d-flex justify-content-between align-items-center">
            <h1>LEADERBOARD WORLDESCAPE</h1>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col">
            <table class="table">
                <thead class="text-center">
                    <tr class="bg-light">
                        <th>Rank</th>
                        <th>Pseudo</th>
                        <th>Avatar</th>
                        <th>Date</th>
                        <th>Score</th>
                        <!-- <th>actions</th> -->
                    </tr>
                </thead>
                <tbody class="text-center">

                    {% for jeu in score %}
                        {% set num = loop.index - 1 %}
                        <tr>
                            <td>{{ num + 1 }}</td>
                            <td>{{ jeu.user.pseudo }}</td>
                            <td>
                                <img src="{{ asset('images/avatar/') }}{{ jeu.user.avatar }}" style="width:auto; height:50px;"></td>
                                <td>{{ jeu.user.createdAt ? jeu.user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ jeu.score }}</td>
                            </div>
                        </div>
                        <!--<td>
                                            <a href="{{ path('jeu_show', {'id': jeu.id}) }}">show</a>
                                            <a href="{{ path('jeu_edit', {'id': jeu.id}) }}">edit</a>
                                        </td>-->
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">no records found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- <a href="{{ path('jeu_new') }}">Create new</a> -->
    {% endblock %}
