{% extends 'base.html.twig' %}
{% block title %}Les produits
{% endblock %}

{% block body %}

	<div class="produitIndexBackground">

		<h1>Les produits</h1>


		<div class="row boutiqueIndex ">
			{% for produit in produits %}


<div class="card  cardProduitIndex d-flex flex-wrap justify-content-center" style="width:20em; margin: 1em 1em 1em 1em">
  <img class="card-img-top" src="{{ asset('images/produit/')}}{{ produit.image }}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ produit.nom }}</h5>
    <p class="card-text">{{ produit.description }}</p>
  </div>

  <div class="card-body">
    <a href="{{ path('produit_show', {'id': produit.id}) }}" class="card-link">Détails</a>
    <a href="{{ path('cart_add', {'id':produit.id}) }}" class="card-link">Panier</a>
    <a href="#" class="card-link">{{ produit.prix}}</a>
  </div>
</div>
			{% endfor %}

		</div>

	{% endblock %}
			