{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nous Contacter
{% endblock %}

    {% block body %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
         
            <div class="container center">
                <h1>Contact</h1>
            
            {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
                    <div class="form-group ">
                    <label for="staticPseudo">Pseudo</label>
                    <input type="text"
                        class="form-control" value="{{app.user.pseudo}}" id="staticPseudo"  readonly>
                        <div class=" invisible">
                            {{ form_row(form.name, {'attr':
                                {'value':app.user.pseudo}}
                                ) }}
                        </div>
                    </div> 
                
                    <div class="form-group">
                    <label for="staticEmail">Email</label>
                    <input 
                        class="form-control" value="{{app.user.email}}" id="staticEmail"  readonly>
                        <div class=" invisible">
                            {{ form_row(form.mail, {'attr':
                                {'value':app.user.email}}
                                ) }}
                        </div>
                    </div> 
                    
                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                        {{ form_row(form.sujet,{'attr':
                                {'placeholder':'C\'est à quel sujet ?'}}) }}
                    </div>
                    <div class="input-field col s12 m6 l6 offset-m3 offset-l3">
                        {{ form_row(form.message,{'attr':
                                {'placeholder':'Raconte-moi tout ...'}}) }}           
                    <div class="input-field col s12">
                        <input type="submit" name="" class="btn btn-primary" value="Envoyer">
                    </div>
                {{ form_end(form) }}
            </div> 
        {% else %}        

          
            <div>Pour nous contacter veuillez vous identifier</div>
                <a  class="btn btn-primary" data-toggle="modal" data-target="#connexion" href="{{ path('app_login')}}"> Connexion</a>
                             <!-- Modal -->
                    <div class="modal fade" id="connexion">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            {{ render(controller('App\\Controller\\SecurityController::login'))}}                                </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div><!-- /.modal -->
                <a href="{{ path('app_register')}}" class="btn btn-primary">S'inscrire</a>
  
      {% endif %}  
       
    {% endblock %}
  
