{% extends 'base.html.twig' %}

{% block title %}Contactez{% endblock %}

{% block body %}
<h1>Contactez-nous !!</h1>

    <div class="container-contact text-center"></di>
    <div class="jumbotron"></di>
     <img src="#" class="img-circle avatar"></img>
    <h1>World-Escap {{ controller_name }}</h1>
    <h2> ffffff</h2>

    <form>
 <div class="form-group">
    <label for="exampleFormControlInput1">Username</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</form>

 <button type="submit" class="btn btn-primary">Submit</button>
</form>
   

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ contact.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ contact.createdAt ? contact.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ contact.password }}</td>
            </tr>
        </tbody>
    </table>

    <button> <a href="{{ path('contact_index') }}">back to list</a></button>

    <button><a href="{{ path('contact_edit', {'id': contact.id}) }}">edit</a></button>

    {{ include('contact/_delete_form.html.twig') }}
{% endblock %}
