{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!
{% endblock %}

{% block body %}

	<div class="pageHomeHeader">
		<div>
			<h1 class="h1Homepage">WORLD ESCAPE</h1>
		</div>
		<h2 class="h2Homagepage" style="color:white">Etes vous assez rapide ?</h2>
		<div class="d-flex justify-content-center">
			<SPAN>
				<a href="{{ path('world_escape') }}">
					<button class="button1">JOUER MAINTENANT</button>
				</a>
				<a href="#">
					<button class="button2">REGLE DU JEU</button>
					</a>
				</span>
			</div>
			<video class="HeaderSection-video HeaderSection-video--desktop" autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline" webkit-playsinline="webkit-playsinline" x5-playsinline="x5-playsinline" poster="{{ asset('images/homepage/boutique2.png')}}" data-js="header-video"><source src="{{ asset('video/videoplayback.webm') }}" type="video/webm"></video>

		</div>
		<div class="backgroundDoc">
			<div class="section_1">

				<h3 class="mt-5 ml-5" style="color:black; font-size:1.6em;">
					Actualité |
					<a href="{{ path('article_index') }}" style="color: rgb(76, 40, 167)">
						Tout afficher
					</a>

				</h3>
				<hr class="hr0 mt-4">
				<div class="section_1__actualite d-flex justify-content-center flex-wrap">


					{% for article in articles %}
						<div class="hoverDesc">
							<h2 class="articleTitle">{{ article.titre }}</h2>
							<div class="relat" id="relatId">

								<div class="text">
									<h3 style="color:white">{{ article.titre }}</h3>
									<p style="color:white; font-size:0.7em">{{ article.resume }}</p>
									<a href="{{ path('article_show', {'id': article.id}) }}">
										<button>VOIR</button>
									</a>

								</div>
								<div class="relatImg" style="height:200px; width:300px; overflow:hidden">
									<img class="articleImg" src="{{ asset('images/article/')}}{{ article.imagename }}" alt="Card image" style="height:200px; width:300px">

								</div>
							</div>
						</div>
					{% endfor %}

				</div>

			</div>


			<div>
				<div class="section-5">
					<div class="section-5__left">
						<div class="section-5__left">
							<img class="section_3--img1" src="{{ asset('images/homepage/Fichier 3v.png')}}" alt="">
							<img class="section_3--img2" src="{{ asset('images/homepage/Fichier 1@4x.png')}}" alt="">
						</div>
					</div>
					<div class="section-5__right">
						<h3 id="scrollS3">Caractéristiques de la jouabilité</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla massa purus, viverra et elit nec, pharetra rhoncus diam. Nulla facilisi. Fusce mollis purus at diam lacinia euismod. Mauris malesuada est a libero malesuada, vitae interdum neque luctus. Pellentesque vel aliquam lectus. Etiam mattis, metus vel lobortis lobortis, tellus turpis varius nisi, eget suscipit dolor nisl condimentum nisl.</p>
						<a style="text-decoration:none" href="{{ path('article_index') }}"><button class="button3">Découvrez les nouveautés</button></a>
						<img class="section_3--img3" src="{{ asset('images/homepage/Sans titre-1.png')}}" alt="">
					</div>

				</div>
			</div>

			<div class="section_2">
				<h2 id="carduId" class=" ml-5" class="col-12">Boutique |
					<a href=" {{ path('produit_index') }}" style="color: rgb(76, 40, 167)">Tout afficher</a>
				</h2>
				<hr class="hr1 mt-4">
				<div class="section_2__boutique d-flex justify-content-center flex-wrap">

					{% for produit in produits %}
						<div class="hoverDescProduit">
							<div class="cardu">
								<div class="textProduit">
									<p>{{ produit.description }}</p>
									<p>{{ produit.prix }}
										€</p>
									<a href="{{ path('produit_show', {'id': produit.id}) }}">
										<button>VOIR</button>
									</a>
								</div>
								<div style="height:200px; width:300px; overflow:hidden;">
									<img class="produitImg" src="{{ asset('images/produit/')}}{{ produit.image }}" alt="Card image" style="height:200px; width:300px">
								</div>
								<h3 class="produitTitle">{{ produit.nom}}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="section_4">
				<img src="{{ asset('images/homepage/promo.png')}}" alt="">
				<div class="section_4__content">

					<h1 class="h1Homepage">Exceptionel !</h2>
					<p>En se moment gagner 300 bonus points à l'inscription ! Vous pourrez les dépenser dans la boutique pour faire des glaces !</p>


				</div>


			</div>

		</div>
		{% block javascripts %}
			<script src="{{ asset('asset/js/homepage.js') }}"></script>

			<script></script>
		{% endblock %}
	{% endblock %}
