{% extends 'base.html.twig' %}

{% block title %}
  Article
{% endblock %}

{% block body %}
    <!--Article-->
    <div class="jumbotron">
            <h1 class="display-3">
            {{ article.titre }}
            </h1>
            <p class="lead">{{ article.contenu }}</p>

            <footer class="blockquote-footer">
            <cite title="Source Title">
                {{ article.auteur }}, le {{ article.createdAt ? article.createdAt|date('Y-m-d H:i:s'): '' }}
            </cite>
            </footer>
            <p><a class="btn btn-md btn-success" href="#comment" role="button">Donner votre avis</a></p>
    </div>
    <!--Commentaires-->
        {{ include('comment/show.html.twig') }}
  
    <a href="{{ path('article_index')}}">Retour</a>
{% endblock %}

