{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="backgroundProfil">
<br><br><br>
		<h1 class="text-center" style="color:white">Tableau de bord de {{ app.user.pseudo }}</h1>

<div class="userProfil_commandHist">
		<div class="userProfil">
			<div class="userProfil__Avatar">
				<img src="{{ asset('images/avatar/')}}{{ app.user.avatar }}" alt="">
			</div>
			<div class="userProfil__mail">
				<div class="userProfil__mail--mail">{{ user.email }}</div>
				<div class="userProfil__mail--link">
					<a href="{{ path('user_edit_mail', {'id': user.id}) }}">EDIT MAIL</a>
				</div>
			</div>

			<hr class="userProfil--hr">

			<div class="userProfil__mail">
				<div class="userProfil__mail--password">Password</div>
				<div class="userProfil__mail--link">
					<a href="{{ path('user_edit_password', {'id': user.id}) }}">EDIT Password</a>
				</div>
			</div>

			<hr class="userProfil--hr">

			<div class="userProfil__global">
				<div>{{ user.pseudo }}</div>
			</div>

			<hr class="userProfil--hr">

			<div class="userProfil__global">
				<div>{{ user.age|date('Y-m-d') }}</div>
			</div>

			<hr class="userProfil--hr">

			<div class="userProfil__global">
				<div>{{ user.bp }}</div>
			</div>

			<hr class="userProfil--hr">

			<div class="userProfil__global">
				<div>{{ user.pays }}</div>
			</div>
		</div>


		<div class="commandHist">
			<table class="table commandHist__table">
				<thead>
					<tr class="commandHist__tr">
						<th>N° de commande</th>
						<th>Nom</th>
						<th>Prix</th>
						<th>Date</th>
						<th>Quantity</th>
						<th>actions</th>
					</tr>
				</thead>
				<tbody>
					{% for commande in user.commandes %}
						<tr class="commandHist__tr">
							<td class="commandHist__td">{{ commande.id }}</td>
			
							{% for produit in commande.produit %}
								<td class="commandHist__td">
									{{ produit.nom }}
								</td>
								<td class="commandHist__td">
									{{ produit.prix }}
								</td>
								{% if not loop.last %},
								{% endif %}
							{% endfor %}

							<td class="commandHist__td">{{ commande.createdAt ? commande.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							<td class="commandHist__td">{{ commande.quantity }}</td>
							<td class="commandHist__td">
								<a href="{{ path('commande_show', {'id': commande.id}) }}">show</a>
							</td>
								
						</tr>
				
					{% else %}
						<tr class="commandHist__tr">
							<td class="commandHist__td" colspan="4">no records found</td>
						</tr>
						
					{% endfor %}
				</tbody>
			</table>
		</div>
</div>

	


	<div>
		{{ include('world_escape/graphUser.html.twig') }}
	</div>

	<a href="{{ path('user_index') }}">back to list</a>

</div>{% endblock %}
